# class/object files
*.py[cod]
*.[oa]

#editor files
*~

#database
db.sqlite3

#local scratch notes
Notes.ipynb

#ignore files in build directory
__pycache__

#jupyter notebook checkpoints
.ipynb_checkpoints
